@model Dapper.Page<User>
<table class="table table-bordered">
    <thead>
        <tr>
			<th>No.</th>
            <th>ID</th>
            <th>Name</th>
			<th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var m in Model.Items) {
        <tr>
			<td>@(++Model.Numbering)</td>
            <td><a href="~/user/@m.Id">@m.Name</a></td>
            <td>@m.Title @m.FullName</td>
			<td><a href="~/user/edit/@m.Id">Edit</a></td>
        </tr>
    }
    </tbody>
</table>
@Html.Partial("Paging")